{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "sourceType": "module",
    "extends": "eslint:recommended",
    "rules": {
        "semi":"error",
        "no-console":"off"
    }

}